<!DOCTYPE html>
<html>

<head>
    <title>Zuweiser</title>
</head>

<body>
    <div id="app">
        <am-excel-reader 
            @excel-overview-loaded="onOverviewLoaded">
        </am-excel-reader>

        <div v-if="excelOverview">
            <h2>Blaetter &amp; Spalten auswaehlen</h2>

            <am-activities-sheet-config 
                @completed="activitiesConfigCompleted"    
                :excel-overview="excelOverview">
            </am-activities-sheet-config>

            <am-participants-sheet-config 
                @completed="participantsConfigCompleted"
                :excel-overview="excelOverview">
            </am-participants-sheet-config>
        </div>
        
        <am-do-matching :config="matchConfig" @matched="onMatched">
        </am-do-matching>

        <h2>Resultat</h2>
        <ul>
            <li v-for="course in result.courses">
                <h3>{{course.name}}</h3>
                <table>
                    <tbody>
                        <tr v-for="student in course.students">
                            <td>{{student.firstName}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.class}}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>

    <script src="../../node_modules/xlsx/dist/xlsx.full.min.js"></script>
    <script src="../../dist/bundle.js"></script>
</body>



</html>